<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6"></div>
        <h1 id="contactsTitle"><%= title %></h1>

<!--Form content-->
        <p id="separater"></p> <!--separates the title from the form-->
        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField"><strong>Contact Name</strong></label>
                <input type="text" class="form-control"
                id="nameTextField"
                placeholder="Enter the Name of the Contact"
                name="contactName" required>
            </div>

            <div class="form-group">
                <label for="authorTextField"><strong>Contact Number</strong></label>
                <input type="text" class="form-control"
                id="numberTextField"
                placeholder="Enter the Phone number"
                name="contactNumber" required>
            </div>

            <div class="form-group">
                <label for="publishedTextField"><strong>Email Address</strong></label>
                <input type="text" class="form-control"
                id="emailTextField"
                placeholder="Enter the Email Address"
                name="email" required>
            </div>

        <!--Button content-->
            <br>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i>Submit</button>

                <a href="/contacts-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>

        </form>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>