<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
 <div class="col-md-offset-3 col-md-8">
     <h1 id="contactsTitle"><%= title %> </h1>

     <% if(typeof displayName == 'string' && displayName) { %>
     <a href="/contacts-list/add" class="btn btn-primary" id="addContactButton" role="button">
    <i class="fas fa-plus-circle"></i> Add a Contact</a>
    <% } %>
     <br>
     <br>
     <br>
     <p id="separater"></p> <!--separates the title from the table-->
     <table class="table table-bordered table-striped table-hover">
         <!--Header Row-->
         <tr>
             <th class="text-center">Contact Name</th>
             <th class="text-center">Contact Number</th>
             <th class="text-center">Email</th>
             <% if(typeof displayName == 'string' && displayName) { %>
             <th class="text-center"></th>
             <th class="text-center"></th>
             <% } %>
         </tr>

         <!--Repeatable Template Row-->
         <% for(let count = 0; count < ContactsList.length; count++) { %> 
            <tr>
                <td class="text-center"><%= ContactsList[count].contactName %></td>
                <td class="text-center"><%= ContactsList[count].contactNumber %></td>
                <td class="text-center"><%= ContactsList[count].email %></td>

        <!--Repeatable button content-->
                <% if(typeof displayName == 'string' && displayName) { %>
                <td class="text-center">
                    <a href="/contacts-list/update/<%= ContactsList[count]._id %>" 
                        class="btn btn-primary btn-sm" id="updateButton">
                    <i class="fas fa-pencil-alt"></i> Update</a>
                </td>
                <td class="text-center">
                    <a href="/contacts-list/delete/<%= ContactsList[count]._id %>" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete</a>
                </td>
                <% } %>
            </tr>
         <% } %>
     </table> 
 </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>